body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("ozelsektor.jpg");
  
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    width: 100%;
    margin-top: 2.5%;
    margin-left: 35%;
    max-width: 30%;
    max-height: 88%;
    background-color: white;
    display: none;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 49.4%;
    opacity: 0.9;
    display: inline-block;
  }
  
  .btn:hover {
    opacity: 1;
  }

  #outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}